@mixin slideshow {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-left: 20rem;
    

    &-slide {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        animation: slideshow 20s linear infinite;

        img {
         width: 350px;
        height: 450px;
        object-fit: cover;
       

        }
    }
}
@mixin flexPosition($justCont: center, $alignIte: space-around) {
    display: flex;
    justify-content: $justCont;
    align-items: $alignIte;
}

